.App {
  height: 100%;
  font-family: 'Helvetica', 'Arial', 'sans-serif';
}

.SearchInput {
  display: block;
  border: 2px solid green;
  padding: 20px 5px;
  min-width: 320px;
  margin-top: 10px;
  margin-right: 30px;
  height: 1.5em;
  font-size: 1.1em;
  border: none;
  border-bottom: 2px solid green;
  background: rgba(254,254,254,0.7);
}


.Gallery {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2%;
  justify-content: center;
}

@media only screen and (min-device-width: 667px) {
  .Gallery {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2%;
  }
}

.Frame {
  text-align: center;
  list-style: none;
  border-radius: 4px;
  border: 2px solid black;
  padding: 20px;
  height: fit-content;
  color: #594b4b;
}

.Image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 0;
  transition: max-height 0.25s ease-out;
  overflow: hidden;
}

.Image--is-visible {
  max-height: 500px;
  transition: max-height 0.25s ease-in;
}

.Button {
  background: rgba(0, 214, 255, 0.2);
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  margin: 30px 10px 10px 10px;
  min-width: 200px;

}

.Footer {
  text-align: center;
  max-width: 400px;
  margin: 100px auto 30px;
  border-radius: 5px;
  padding: 10px;
  font-weight: 700;
}
