.Gallery {
  padding: 10px;
  display: grid;
  grid-template-columns: 45% 45%;
  grid-gap: 2%;
  background-color: #fff;
  color: #444;
}

.Frame {
  text-align: center;
  list-style: none;
  border-radius: 0;
  border: 2px solid black;
  padding: 20px;
}


.Image {
  max-width: 100%;
}

.Image--is-hidden {
  visibility:hidden ;
  display: none;
}

.Button {
  background: none;
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
}
