.App {
  height: 100%;
  font-family: 'Helvetica', 'Arial', 'sans-serif';
}

.Gallery {
  padding: 10px;
  display: grid;
  grid-template-columns: 98%;
  grid-gap: 2%;
}


@media only screen and (min-device-width : 667px) {
  .Gallery {
    grid-template-columns: 48% 48%;
    grid-gap: 2%;
  }
}

.Frame {
  text-align: center;
  list-style: none;
  border-radius: 0;
  border: 2px solid black;
  padding: 20px;
  background-color: #fff;
}


.Image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 0;
  transition: max-height 0.25s ease-out;
  overflow: hidden;
}

.Image--is-visible {
  max-height: 500px;
  transition: max-height 0.25s ease-in;
}

.Button {
  background: none;
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
}
